{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!--================ Start Home Banner Area =================-->
    <section class="home_banner_area">
      <div class="banner_inner">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
              <div class="banner_content">
                <h3>Hey There !</h3>
                <h1 class="text-uppercase">I am Noman Islam</h1>
                <h5 class="text-uppercase">Software Enginner</h5>
                <div class="social_icons my-5">
                  <a href="https://twitter.com/nomanislam2" target="_blank"><i class="ti-twitter"></i></a>
                  <a href="https://join.skype.com/invite/ViMXv3CweBSM" target="_blank"><i class="ti-skype"></i></a>
                  <a href="https://www.facebook.com/noman.islam2" target="_blank"><i class="ti-facebook"></i></a>
                  <a href="https://github.com/islamnoman" target="_blank"><i class="ti-github"></i></a>
                  <a href="https://www.linkedin.com/in/noman-islam-85008a1b5/" target="_blank"><i class="ti-linkedin"></i></a>
                  <a href="https://www.youtube.com/channel/UCpP6iSKgYti5kv5Rk-Wq6lw" target="_blank"><i class="ti-youtube"></i></a>
                </div>
                <a class="primary_btn" href="https://github.com/islamnoman"><span>See My Work</span></a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="home_right_img">
                <img class="img-fluid" src="{% static 'img/banner/home-right.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Home Banner Area =================-->

    <!--================ Start Statistics Area =================-->
    <section class="statistics_area">
      <div class="container">
        <div class="row justify-content-lg-start justify-content-center">
          <div class="col-lg-2 col-md-3">
            <div class="statistics_item">
              <h3><span class="counter">15</span>k+</h3>
              <p>Happy Customer</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3">
            <div class="statistics_item">
              <h3><span class="counter">12</span>k+</h3>
              <p>Ticket Solved</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3">
            <div class="statistics_item">
              <h3><span class="counter">9</span>/10</h3>
              <p>Average Rating</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Statistics Area =================-->

    <!--================ Start About Us Area =================-->
    <section class="about_area section_gap">
      <div class="container">
        <div class="row justify-content-start align-items-center">
          <div class="col-lg-5">
            <div class="about_img">
              <img class="" src="{% static 'img/about-us.png' %}" alt="">
            </div>
          </div>

          <div class="offset-lg-1 col-lg-5">
            <div class="main_title text-left">
              <p class="top_text">About me <span></span></p>
              <h2>
                Web Developer <br>
                And Designer
              </h2>
              <p>
                Are You Looking For A Web Developer And Designer ? I'm Noman Islam A Technical SEO Expert With Frontend And Backend Developer With 2+ Years Experience In Both. I Worked For Many Clients All Around The World And Provided 100% Customer Satisfaction.
              </p>
              <a class="primary_btn" href="{% static 'noman-islam-resume.pdf' %}"><span>Download CV</span></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End About Us Area =================-->

    <!--================ Start Features Area =================-->
    <section class="services_area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main_title">
              <p class="top_text">Our Service <span></span></p>
              <h2>What Service We <br>
                Offer For You </h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="service_item">
              <img src="{% static 'img/services/s1.png' %}" alt="">
              <h4>Build Your Website</h4>
              <p>I Use Latest Trend And Technology In My Work And Will Make Use Your Website  Stand Out From Your Competitors. I Can Develop Your Website From Django, Wordpress.</p>
              <a href="#" class="primary_btn2 mt-35">Learn More</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="service_item">
              <img src="{% static 'img/services/s2.png' %}" alt="">
              <h4>UX/UI Design</h4>
              <p>User interface design or user interface engineering is the design of user interfaces for machines and software, such as computers, home appliances, mobile devices, and other electronic devices, with the focus on maximizing usability and the user experience.</p>
              <a href="#" class="primary_btn2 mt-35">Learn More</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="service_item">
              <img src="{% static 'img/services/s3.png' %}" alt="">
              <h4>Web Scraping</h4>
              <p>I can create any Python script for automation, web scraping, data mining tools that you need done in a short time. I can export the unstructured data to any of your desired format such as EXCEL, CSV, JSON, TXT or export to database.</p>
              <a href="#" class="primary_btn2 mt-35">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Features Area =================-->


    <!--================ Start Testimonial Area =================-->
    <section class="testimonial_area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main_title">
              <p class="top_text">Our Tesitmonial <span></span></p>
              <h2>Honourable Client Says <br>
                About Me </h2>
            </div>
          </div>
        </div>

        <div class="owl-carousel owl-theme testimonial-slider ">
          <div class="testimonial-item">
            <div class="row">
              <div class="col-lg-6">
                <div class="testi-img mb-4 mb-lg-0">
                  <img src="{% static 'img/testimonials/testimonial1.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="testi-right">
                  <h4>Madhab bandyopadhyay</h4>
                  <p><small>Brainware Consultancy Pvt Ltd, India.</small></p>

                  <p>Share is by far the most competent and professional developer I have worked with on fiverr. Initially he didn't want to take our latest project because of its complexity but when I was unable to find another developer who was capable of completing it, Share agreed to take it. He even ended up delivering faster than the timeline I proposed!</p>
                  <ul class="star_rating mt-4">
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li class="disable"><span><i class="fas fa-star"></i></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="testimonial-item">
            <div class="row">
              <div class="col-lg-6">
                <div class="testi-img mb-4 mb-lg-0">
                  <img src="{% static 'img/testimonials/arjobotto-sir.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="testi-right">
                  <h4>Aryabhatta Ganguly </h4>
                  <p><small>Brainware Consultancy Pvt Ltd, India.</small></p>

                  <p>Ongoing Python email project. AMAZING job! Has exceeded every requirement, dedicated to ensuring a great product, communicates daily, and is prompt. The seller has kept every promise and timeline 100% and even makes sure the work is free from technical errors. </p>
                  <ul class="star_rating mt-3">
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li class="disable"><span><i class="fas fa-star"></i></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="testimonial-item">
            <div class="row">
              <div class="col-lg-6">
                <div class="testi-img mb-4 mb-lg-0">
                  <img src="{% static 'img/testimonials/mababa.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="testi-right">
                  <h4>Mr. Monjurul Islam</h4>
                  <p><small>Project Manager, HomeDelivery</small></p>

                  <p>This is the second store that she had created for me. The first one has already started selling. It is one nice store, she did a wonderful job. The second store is a general store, very challenging. She managed it very well, easy to communicate with, so experienced in her gig. I am so impressed by her outstanding work. Strongly recommend her to you!</p>
                  <ul class="star_rating mt-3">
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li class="disable"><span><i class="fas fa-star"></i></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Testimonial Area =================-->




    <!--================ Start Portfolio Area =================-->
    <section class="portfolio_area" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main_title">
              <p class="top_text">Noman Skills <span></span></p>
              <h2>Check Our Recent <br>
                Client Work </h2>
            </div>
          </div>
        </div>

        <div class="filters portfolio-filter">
          <ul>
            <li class="active" data-filter="*">all</li>
            {% for ctg in portfolio_category %}
  					<li data-filter=".{{ ctg.name }}">{{ ctg.name }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="filters-content">
          <div class="row portfolio-grid">
            <div class="grid-sizer col-md-3 col-lg-3"></div>
            {% if portfolio %}
            {% for portfolio in portfolio %}
            <div class="col-lg-6 col-md-6 all {{ portfolio.category }}">
  						<div class="single_portfolio">
  							<img class="img-fluid w-100" src="{{ portfolio.photo.url }}" alt="">
  							<div class="overlay"></div>
  							<div class="short_info">
  								<h4><a href="{% url 'portfolio-details' portfolio.id %}">{{ portfolio.title }}</a></h4>
  								<p>{{ portfolio.portfolio_type }}</p>
  							</div>
  						</div>
  					</div>
            {% endfor %}
            {% else %}
            <h2 class="text-danger">Portfolio Not Available!</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
    <!--================ End Portfolio Area =================-->

    <!--================ Start Blog Area =================-->
    <section class="blog-area section-gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main_title">
              <p class="top_text">Our blog <span></span></p>
              <h2>Latest Story From <br>
                Our Blog </h2>
            </div>
          </div>
        </div>

        <div class="row">
          {% for post in post %}
          <div class="col-lg-4 col-md-6">
            <div class="single-blog">
              <div class="thumb">
                <img src="{{ post.photo.url }}" alt="post" height="310px" width="360px">
              </div>
              <div class="short_details">
                <div class="meta-top d-flex">
                  <a href="#"><i class="ti-user"></i>{{ post.author }}</a>
                  <a href="#"><i class="ti-calendar"></i>{{ post.pub_date }}</a>
                </div>
                <a class="d-block" href="{% url 'blog-details' post.id %}">
                  <h4>{{ post.title }}</h4>
                </a>
                <div class="text-wrap">
                  <p>{{ post.content|safe|truncatewords:30 }}</p>
                </div>
                <a href="#" class="primary_btn2">Learn More</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!--================ End Blog Area =================-->

    <!--================ Start Brands Area =================-->
    <section class="brands-area section_gap_bottom">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="owl-carousel brand-carousel">
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="{% static 'img/brands/logo1.png' %}" alt="">
                </div>
              </div>
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="{% static 'img/brands/logo2.png' %}" alt="">
                </div>
              </div>
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="{% static 'img/brands/logo3.png' %}" alt="">
                </div>
              </div>
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="{% static 'img/brands/logo4.png' %}" alt="">
                </div>
              </div>
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="{% static 'img/brands/logo5.png' %}" alt="">
                </div>
              </div>
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="{% static 'img/brands/logo3.png' %}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Brands Area =================-->
{% endblock %}
